$yellow-green: #ecf87f;
$lime-green: #81b622;
$green: #59981a;
$dark-dark-blue: #001220;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

// html {
//   background-color: $dark-dark-blue;
// }

// // body {
// //   // background: $dark-dark-blue;
// // }
